



@media (min-width: 992px) {
    .colmaxwidth_course_list {
        max-width: 500px;
    }
    .navlogo {
        min-width:255px;
    }
}
@media (max-width: 760px) {
 .horizontalw {
    padding-right: 0!important;
    padding-left: 0!important;
}
    .plyr__controls__item .plyr__volume {
        display: none!important;
    }

    .cardnoborder {
        border: none!important;
        box-shadow:none!important;
        margin-bottom: 0!important;
    }

    .cardnobordervideo {
        margin-left: -2px!important;
        margin-bottom: 0!important;
        box-shadow:none!important;
        border-left: none!important;
        border-right: none!important;
        border-top:1px solid #e6e6e6!important;
        border-bottom:1px solid #e6e6e6!important;
    }


    .list-group-fit>.list-group-item {
        border: none;
    }
    .body-fluid{
        background:#ffffff;
    }

    .vimeoembed{
        border: none!important;
    }

    .movileview{
        padding: 0!important;
    }

    .card-header-noborder{
        border: none!important;
        padding-left: 10px;
        padding-bottom: 0;
    }
}

.lang{
    min-width: 200px!important;
    padding: 0;
}

.lang-item{
    padding: 4px;
    padding-left: 10px;
}

.vimeoembed{
    border: 1px solid #f0f1f2;
}

.movileview{
    padding-left: 15px;
    padding-right: 15px;
}



.cardnobordervideo {
    border:1px solid #e6e6e6!important;
}

.dropdown-menu.show, .show>.dropdown-menu {
    visibility: visible;
    opacity: 1;
    margin-top: -0.1rem!important;
}

.mdk-header-layout .mdk-drawer__content {
    top: 56px;
}

.container, .container-fluid {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}


.horizontalw{
    max-width: 2100px;
}


body {
  overflow: hidden;
}

.main {
  width: 100%;
  position: absolute;
  top: 56px;
  bottom: 0;
  overflow-y: scroll;
}

.content-p0{
  padding-top: 0!important;
}